[submodule ".config/oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = .config/oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule ".config/oh-my-zsh/custom/themes/powerlevel10k"]
	path = .config/oh-my-zsh/custom/themes/powerlevel10k
	url = git@github.com:romkatv/powerlevel10k.git
[submodule ".config/oh-my-zsh/custom/plugins/nix-zsh-completions"]
	path = .config/oh-my-zsh/custom/plugins/nix-zsh-completions
	url = https://github.com/nix-community/nix-zsh-completions
[submodule "config-bak/.config/oh-my-zsh/custom/plugins/nix-zsh-completions"]
	path = config-bak/.config/oh-my-zsh/custom/plugins/nix-zsh-completions
	url = https://github.com/nix-community/nix-zsh-completions
[submodule "users/dotfiles/.tmux/plugins/tpm"]
	path = users/dotfiles/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "users/dotfiles/.tmux/plugins/tmux-sensible"]
	path = users/dotfiles/.tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "users/dotfiles/.tmux/plugins/tmux-resurrect"]
	path = users/dotfiles/.tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
